body {
    background-color: #cdffcc;
    height: 100vh;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: "DM Mono", monospace;
    font-weight: 300;
    overflow: hidden;
    color: white;
    text-align: center;
}

.contGrandeHome{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#carrouselComidas{
    display: flex;
  flex-direction: column;
  align-items: center;
}

.contVideo {
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 2.5s ease-in-out; /* Transición de opacidad durante 1 segundo */
}

.contVideo.show {
    opacity: 1; /* Mostrar cuando tenga la clase 'show' */
}

.contBotones{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.btnHome{
    width: 50%;
    height: 150px;
    font-size: 100%;
    font-weight: bold;
    transition: all 0.3s ease; /* Agregado para hacer la transición suave */
}

.soyUsuario{
    background-color: #1f401a;
    color:#e2ffe2;
}

.soyRestaurant{
    background-color: #1f401a;
    color: #e2ffe2;
}

.soyUsuario:hover{
    background-color: #C4FF03;
    color: #3a7531;
    cursor: pointer;
    font-size: 120%; /* Cambiado el tamaño de la fuente al pasar el mouse */
}

.soyRestaurant:hover{
    background-color: #9DFF7F;
    color:#186600;
    cursor: pointer;
    font-size: 120%;
}