<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/HomeUsuarios.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <title>Inicio</title>
</head>
<body id="b">
    <main>
        <header style="position: fixed; top: 0; box-shadow: rgba(0, 0, 0, 0.5) 0 5px 4px;">
            <div id="header">
                <ul class="nav" id="nave">
                    <li><a href="Index.html">Inicio</a></li>
                    <li><a href="">Mi perfil</a>
                        <ul>
                            <li><a href="DetallesUsuario.html">Ver información</a></li>
                            <li><a href="ModificacionUsuarios.html">Modificar información</a></li>
                        </ul>
                    </li>
                    <li><a href="HistorialPedidos.html">Historial de pedidos</a></li>
                    <li><a href="QuienesSomosUsuario.html">¿Quienes somos?</a></li>
                    <li><a href="SoporteEnLinea.html">Soporte en línea</a></li>
                </ul>
            </div>
        </header>
        <section class="org" id="or">

            <article id="banner" class="contenedorTopRestaurants">
                <div class="tit">
                    <p class="tituloBanner" style="color:#2a5324" onclick="mostrarSectorComidas();">¿Que querés comer hoy?</p>
                    <img class="puntero" src="../static/img/Iconos/Click.png" onclick="mostrarSectorComidas();" alt="">
                </div>
                
                <article id="carrouselComidas" style="visibility: hidden;">
                    <div class="carrouselComidas">
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/carne.jpg" class="imagenCarrousel" alt="Carnes">
                            <p>Carnes</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaCarnes">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/comida rapida.jpg" class="imagenCarrousel" alt="Comida Rápida">
                            <p>Comida Rápida</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaComidaRapida">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/pastas.jpg" class="imagenCarrousel" alt="Pastas">
                            <p>Pastas</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaPastas">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/pollo.jpg" class="imagenCarrousel" alt="Pollo">
                            <p>Rotisería</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaRotiseria">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/Desayuno2.jpg" class="imagenCarrousel" alt="Desayuno y Merienda">
                            <p>Desayuno y merienda</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaDesayunoYMerienda1">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/empanadas.jpg" class="imagenCarrousel" alt="Desayuno y Merienda">
                            <p>Empanadas</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaDesayunoYMerienda2">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/panaderia.jpg" class="imagenCarrousel" alt="Desayuno y Merienda">
                            <p>Panadería</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaDesayunoYMerienda3">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/pizza.jpg" class="imagenCarrousel" alt="Desayuno y Merienda">
                            <p>Pizza</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaDesayunoYMerienda4">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/sandwich.jpg" class="imagenCarrousel" alt="Desayuno y Merienda">
                            <p>Sandwichería</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaDesayunoYMerienda5">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/india.jpg" class="imagenCarrousel" alt="Desayuno y Merienda">
                            <p>Comida india</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaDesayunoYMerienda6">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/mariscos.png" class="imagenCarrousel" alt="Desayuno y Merienda">
                            <p>Mariscos</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaDesayunoYMerienda7">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/oriental.png" class="imagenCarrousel" alt="Desayuno y Merienda">
                            <p>Comida Oriental</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaDesayunoYMerienda8">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/mexicana.jpg" class="imagenCarrousel" alt="Desayuno y Merienda">
                            <p>Comida mexicana</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaDesayunoYMerienda9">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/parrilla.jpg" class="imagenCarrousel" alt="Desayuno y Merienda">
                            <p>Parrilla</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaDesayunoYMerienda10">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/pescaderia.png" class="imagenCarrousel" alt="Desayuno y Merienda">
                            <p>Pescadería</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaDesayunoYMerienda11">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/sin gluten.jpg" class="imagenCarrousel" alt="Desayuno y Merienda">
                            <p>Sin glúten</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaDesayunoYMerienda12">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/sushi.png" class="imagenCarrousel" alt="Desayuno y Merienda">
                            <p>Sushi</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaDesayunoYMerienda13">Buscar</button>
                            </a>
                        </div>
                        <div class="itemCarrouselComidas">
                            <img src="../static/img/Comidas/vegana.png" class="imagenCarrousel" alt="Desayuno y Merienda">
                            <p>Vegetariana y vegana</p>
                            <a href="ResultadoBusqueda.html">
                                <button class="botonBusqueda" type="button" id="btnBusquedaDesayunoYMerienda14">Buscar</button>
                            </a>
                        </div>
                    </div>
                    <button id="verTodoComidas" class="verTodo">Ver todo</button>
                </article>
            </article>

            <article id="Restaurantes" class="contenedorTopRestaurants">
                <div class="tit">
                    <p class="tituloBanner" onclick="mostrarSectorRestaurantes();">Restaurantes destacados</p>
                    <img class="puntero" src="../static/img/Iconos/Click.png" onclick="mostrarSectorRestaurantes();" alt="">
                </div>
                <section id="sectorCarrousel" class="carrouselRestaurants" style="visibility: hidden;">
                    <div class="card">
                        <div class="img">
                            <img src="../static/img/Comidas/carne.jpg" alt="" draggable="false">
                        </div>
                        <h2>Ejemplo 1</h2>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="../static/img/Comidas/carne.jpg" alt="" draggable="false">
                        </div>
                        <h2>Ejemplo 2</h2>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="../static/img/Comidas/carne.jpg" alt="" draggable="false">
                        </div>
                        <h2>Ejemplo 3</h2>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="../static/img/Comidas/carne.jpg" alt="" draggable="false">
                        </div>
                        <h2>Ejemplo 4</h2>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="../static/img/Comidas/carne.jpg" alt="" draggable="false">
                        </div>
                        <h2>Ejemplo 5</h2>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="../static/img/Comidas/carne.jpg" alt="" draggable="false">
                        </div>
                        <h2>Ejemplo 6</h2>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="../static/img/Comidas/carne.jpg" alt="" draggable="false">
                        </div>
                        <h2>Ejemplo 7</h2>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="../static/img/Comidas/carne.jpg" alt="" draggable="false">
                        </div>
                        <h2>Ejemplo 8</h2></div>
                    <div class="card">
                        <div class="img">
                            <img src="../static/img/Comidas/carne.jpg" alt="" draggable="false">
                        </div>
                        <h2>Ejemplo 9</h2>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="../static/img/Comidas/carne.jpg" alt="" draggable="false">
                        </div>
                        <h2>Ejemplo 10</h2>
                    </div>
                </section>
                <button id="verTodoRestaurants" class="verTodo">Ver todo</button>
            </article>

        </section>

        <footer id="foot" style="position: fixed; bottom: 0; box-shadow: rgba(0, 0, 0, 0.5) 0 -5px 4px;">
            <div class="filaFooter">
                <div class="footerColumn">
                    <a href="https://www.argentina.gob.ar/economia/comercio/defensadelconsumidor" class="textoFooterSinTitulo" target="_blank">Defensa del consumidor</a>
                </div>
                <div class="footerColumn">
                    <p class="textoFooter">EcoDelis&copy;</p><p class="textoFooter">2023-2024</p>
                </div>
            </div>
        </footer>
        <!--<div class="chatbot-toggler">-->
        <!--    <button class="abrirChatbot">A</button>-->
        <!--    <button class="cerrarChatbot">X</button>-->
        <!--</div>-->
        <!--<div class="chatbot">-->
        <!--    <header>-->
        <!--        <h2>Chatbot</h2>-->
        <!--        <button class="close-btn">X</button>-->
        <!--    </header>-->
        <!--    <ul class="chatbox">-->
        <!--        <li class="chat incoming">-->
        <!--            <p>Hola! <br> ¿Como puedo ayudarte?</p>-->
        <!--        </li>-->
        <!--        <li class="chat outcoming">-->

        <!--        </li>-->
        <!--    </ul>-->
        <!--    <div class="chat-input">-->
        <!--        <textarea class="textoAEnviarChat" placeholder="Enter a message..." required></textarea>-->
        <!--        <button class="enviarMensajeChat">&#10147</button>-->
        <!--    </div>-->
        <!--</div>-->
        <!--<script src="./JavaScript/scriptChatbot.js"></script>-->
        <!--<script src="./JavaScript/accionesHomeUsuarios.js" defer></script>-->
    </main>
    <script>
        const footer = document.getElementById("foot");
        const b = document.getElementById("b");
        const contenedor = document.getElementById("or");
        const sectorComidas = document.getElementById("carrouselComidas");
        const sectorRestaurantes = document.getElementById("Restaurantes");
        const sectorCarrousel = document.getElementById("sectorCarrousel");
        const banner = document.getElementById("banner");
        let sectorRestaurantesVisible = false;
        let sectorComidasVisible = false;

        // Asegúrate de que el div tenga la propiedad transition configurada en su CSS
        document.addEventListener('DOMContentLoaded', function() {
            banner.style.transition = 'height 2s, width 4s';
            sectorRestaurantes.style.transition = 'height 2s, width 4s';
        });

        function mostrarSectorComidas() {
            if(!sectorComidasVisible){
                footer.style.position='relative';
                contenedor.style.marginTop='5%';
                contenedor.style.marginBottom='2.5%';
                banner.style.marginTop='25%';
                banner.style.width='70%';
                sectorRestaurantes.style.width='25%';
                sectorRestaurantes.style.height='125px';

                banner.style.height='fit-content';
                sectorCarrousel.style.visibility='hidden';
                sectorComidasVisible=true;
                sectorComidas.style.visibility='visible';
                sectorRestaurantesVisible=false;
                b.style.overflow='visible';
            } else {
                footer.style.position='fixed';
                contenedor.style.marginTop='0';
                banner.style.marginTop='0';
                contenedor.style.marginBottom='0';
                sectorComidasVisible=false;
                banner.style.width='48%';
                sectorRestaurantes.style.width='48%';
                banner.style.height='125px';
                sectorComidas.style.visibility='hidden';
                b.style.overflow='hidden';
            }
        }

        function mostrarSectorRestaurantes() {
            if(!sectorRestaurantesVisible){
                footer.style.position='fixed';
                contenedor.style.marginTop='5%';
                banner.style.marginTop='0';
                contenedor.style.marginBottom='2.5%';
                sectorRestaurantes.style.height='fit-content';
                sectorRestaurantes.style.width='60%';
                banner.style.width='25%';
                sectorRestaurantesVisible=true;
                sectorCarrousel.style.visibility='visible';
                sectorComidasVisible=false;
                banner.style.height='125px';
                sectorComidas.style.visibility='hidden';
                b.style.overflow='hidden';
            } else {
                footer.style.position='fixed';
                contenedor.style.marginTop='0';
                contenedor.style.marginBottom='0';
                sectorRestaurantesVisible=false;
                banner.style.width='48%';
                sectorRestaurantes.style.width='48%';
                sectorRestaurantes.style.height='125px';
                sectorCarrousel.style.visibility='hidden';
                b.style.overflow='hidden';
            }
        }

    </script>
</body>
</html>